.tab-btn {
  flex: 1;                    
  height: 40px;

  border-radius: 8px;


  border: 1px solid #9ca3af;
  background-color: #f3f4f6;
  color: #348D3B;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;        
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-active {
  background-color: #348D3B !important;
  color: #ffffff !important;
  border-color: #348D3B !important;
}
